*.env
.env
# Block Datasets
data/*.csv
data/*.csv.gz
src/fastapi_backend/*.csv

# Block Node Backend Dependencies
node_modules/
dashboard/node_modules/

# Block Python Caches
**/__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/

# Block OS specific files
.DS_Store
Thumbs.db